# OpenWeather API Configuration
OPEN_WEATHER_API_KEY=aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
OPEN_WEATHER_ENDPOINT=https://api.openweathermap.org

# Discord Bot Configuration
BOT_TOKEN=token
APP_ID=appid
PUBLIC_KEY=pubkey
CHANNEL_ID=chnid