# OpenMeteo API Configuration
OPEN_METEO_ENDPOINT=https://api.open-meteo.com/v1
OPEN_METEO_TIMEZONE=America/Sao_Paulo

# Discord Bot Configuration
BOT_TOKEN=token
APP_ID=appid
PUBLIC_KEY=pubkey
CHANNEL_ID=chnid